.calculate-container{
    height:100%;
    position: relative;
    color: #555555;
    background-color: #fff;
}

.card{
    height: 100%;
    display: flex;
    flex-direction: column;  
}

.card-header{
    height: 30%;
    padding: 10% 20%;
}

.card-body{
    height: 70%;
}

form{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;   
    height: 100%; 
}

form input{
    text-align:center;
    padding:15px;

    border:none;
    border-radius: 5px;
    border: 1px solid  #c0c0c0;
}

form input:focus{
    border:none;
    border:1px solid #f6a2bf;
    outline:none;
} 

button {
  background-color: #f6a2bf ;
  color:white;
  border-radius: 5px;
  padding:10px 25px ; 
  border:1px solid #f6a2bf;
  border:none;
  cursor: pointer;

}